<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ecommerce</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<script src={{ url_for('static', filename='js/changePassword.js') }}></script>
	</head>
	<body>
		<div class="login">
			<h1>Change password</h1>
			<form action="{{ url_for('changePassword') }}" method="post" onsubmit="return validate()">
				<label for="Old Password">
					<i class="fas fa-edit"></i>
				</label>
				<input type="password" name="oldpassword" placeholder="Old Password" id="oldpassword" required>
				<label for="New Password">
					<i class="fas fa-edit"></i>
				</label>
				<input type="password" name="newpassword" placeholder="New Password" id="newpassword" required>
				<label for="Confirm Password">
					<i class="fas fa-edit"></i>
				</label>
				<input type="password" name="confirmPassword" placeholder="Confirm Password" id="Confirm Password" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Save">
				<div class = "forgotpassword">
					<a href="{{ url_for('home')}}">Go to Home </a>
				</div>
			</form>
		</div>
	</body>
</html>
